# Prerequisites
*.d

# Compiled Object files
*.o
*.obj
*.slo
*.lo

# Executables
*.exe
*.out
*.app

# Build directories
build/
bin/

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
pip-wheel-metadata/
.env/
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/